*{
    box-sizing: border-box;
}

img{
    width:100%;
}

body{
    margin:0;
}

.header{
    background-color:rgb(3, 3, 51);
    height:60px;
}

.header-title{
    color:white;
    padding-top:10px;
    padding-left:250px;
    margin:0;
}

@media (max-width:600px){
    .header-title{
        padding-left:20px;
        float:left;
    }
}

.sub-header{
    height:200px;
    background: url('img/background.jpg');
    vertical-align:center;
}

.sub-header-title{
    text-align:center;
    margin:0;
    padding-top:70px;
    color:white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.container{
    text-align:center;
    background-color:#e8e8e8;
}

.left-content, .right-content{
    padding:20px;
    display:inline-block;
}

.reasons-textarea{
    height:160px;
}

.form{
    padding:20px;
    padding-top:10px;
    border: 1px solid lightgrey;
    border-radius:5px;
    text-align:left;
}

.form label{
    font-weight:bold;
    display:inline-block;
    margin-top:15px;
}

.validate-button{
    width: 100%;
    background-color: green;
    color:white;
    padding:10px;
}

.img-chat{
    max-width:700px;
    position: relative;
    top: 36px;
}

@media (max-width:1024px){
    .img-chat{
        top:0;
    }
}

.footer{
    background-color:#dedede;
    text-align:center;
}

.left-footer, .right-footer{
    padding:20px;
    display:inline-block;
    text-align:left;
}

.left-footer{
    max-width:40%;
}

.right-footer{
    max-width:30%;
}

.right-footer img{
    background-color:#7885a5;
    max-width:200px;
}

@media (max-width:700px){
    .right-footer, .left-footer{
        max-width:100%;
    }
}